 /*
 Shared by Derek Payton under http://creativecommons.org/licenses/by/3.0/us/
 */

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: normal;
    src: local('Bitter-Regular'),
         url('http://themes.googleusercontent.com/static/fonts/bitter/v3/SHIcXhdd5RknatSgOzyEkA.woff') format('woff');
}
@font-face {
    font-family: 'Mate';
    font-style: normal;
    font-weight: normal;
    src: local('Mate-Regular'),
         url('http://themes.googleusercontent.com/static/fonts/mate/v2/S8SUYNiDpYuON3fsSU0RXA.woff') format('woff');
}
@font-face {
    font-family: 'Mate';
    font-style: italic;
    font-weight: normal;
    src: local('Mate Italic'),
         local('Mate-Italic'),
         url('http://themes.googleusercontent.com/static/fonts/mate/v2/PTJ7JUcI70SaH4ySt1dAmQ.woff') format('woff');
}
