<div id="footer">
  <div class="panels">
    <div class="license">
      <h2>License</h2>
      <p>如非特别声明，本 Blog 的文章由 {{ site.author }} 创作，采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">知识共享署名-非商业性使用-相同方式共享 3.0 Unported 许可协议</a>进行许可。</p>
    </div>

    <div class="posts">
      <h2>Recent Posts</h2>
      <ul>
        {% for post in site.posts limit: site.recent_posts %}
          <li>
            <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="douban">
      <h2>Reading</h2>
      <ul>
          <li><a href="http://www.ruanyifeng.com/blog/">阮一峰的网络日志</a></li>
          <li><a href="http://mindhacks.cn/">刘未鹏|MIND HACKS</a></li>
          <li><a href="http://www.lixiaolai.com/">Reborn</a></li>
          <li><a href="http://www.yeeyan.org/">译言网</a></li>
      </ul>
    </div>
  </div>

  <p class="powered">
    Powered by <a href="http://octopress.org">Octopress</a> and <a href="https://github.com/iwinux/compbits">Compbits</a> modified by Jasl
  </p>
</div>
